@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #1EC677;
    border-right-color: #0B2E1E;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #EDE734;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
} 

:root {
  --checkers: #007A4D;
  --checkers-blue: #0055A5;
  --sixty60-blue: #38A8AE;

  --pnp-blue: #003359;
  --pnp-red: #E31E24;

  --shoprite: #E41E2B;
  --shoprite-yellow: #FFD100;

  --spar: #E30613;
  --spar-green: #00843D;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
  --checkers-green: #007A4D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
